.backgroundDim {
	top: -50px;
	left: -50px;
	height: 10000px;
	width: 10000px;
	size: fill;
	position: fixed;
	z-index: 7;
	background-color: black;
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
}

h1 {
	left: 50px;
	position: relative;
}

.sidebar-nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 9;
	top: -20px;
	left: -50px;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 60px;
	white-space: nowrap; /* stops side nav buttons from wrapping when the side nav is opened/closed */
	transition: 0.5s;
	list-style: none;
}	

.sidebar-nav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	border: none;
	color: #818181;
	background-color: #111;
	cursor: pointer;
	width: 100%;
	text-align: left;
	display: block;
	transition: 0.3s;
	outline: none;
}

.sidebar-nav a:hover {
	color: #f1f1f1;
}

.sidebar-nav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	text-align: right;
	font-size: 36px;
	margin-left: 50px;
	outline: none;
}

#side_nav_open_button {
	position: fixed;
	top: 19px;
	left: 17px;
	width: 30px;
	font-size: 30px;
	cursor: pointer;
	z-index: 6;
}