.backgroundDim {
	top: -50px;
	left: -50px;
	height: 10000px;
	width: 10000px;
	size: fill;
	position: fixed;
	z-index: 7;
	background-color: black;
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
}
body {
	border: 1px solid black;
}

h1 {
	text-align: center;
	left: 30%;
	top: 0;
	position: fixed;
	z-index: 8;
	width: 40%;
	border: 1px solid black;
}

.blankAcrossTop {
	top: 0;
	left: 0;
	width: 100%;
	background-color: #42d1f5;
	z-index: 3;
	position: fixed;
	height: 70px;
	border: 1px solid black;
}

.relAcrossTop {
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	position: relative;
	height: 70px;
}

.sidebar-nav {
	height: 96%;
	width: 0;
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-top: 60px;
	white-space: nowrap; /* stops side nav buttons from wrapping when the side nav is opened/closed */
	transition: 0.5s;
	list-style: none;
}	

.sidebar-nav:hover{
	overflow-y: auto;
}

.sidebar-nav a, .sidebar-nav button, .sidebar-nav p {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	border: none;
	color: #818181;
	background-color: #111;
	width: 100%;
	text-align: left;
	display: block;
	transition: 0.3s;
	outline: none;
	margin: 0;
	border: 1px solid white;
}

.sidebar-nav a, .sidebar-nav button {
	cursor: pointer;
}

.sidebar-nav a:hover, .sidebar-nav button:hover {
	color: #f1f1f1;
}

.sidebar-nav .left-sidebar-closebtn {
	position: absolute;
	top: 10px;
	right: 25px;
	width: 10px;
	text-align: right;
	font-size: 36px;
	margin-left: 20px;
	outline: none;
	border: 1px solid white;
}

.dropdownContainer {
	height: 0;
	background-color: #262626;
	padding-left: 8px;
	overflow-y: hidden;
	overflow-x: hidden;
	transition: height .5s;
}

.dropdownContainer:hover {
	overflow-y: auto;
}

.sidebar-nav .fa-caret-down {
	position: absolute;
	right: 0;
	padding-right: 8px;
	border: 1px solid white;
}

/* need a space between classes if you are selecting an element within a div where the div has one class and the element you want has the second class */
/* if the single element had both classes then you would not include a space between class selectors */
.dropdownContainer .fa-minus-circle, .dropdownContainer .fa-plus-circle {
	font-size: 20px;
	border: 1px solid white;
}

.dropdownContainer {
	position: relative;
}

.dropdownContainer button.hasMinusSign {
	width: 60px;
	position: absolute;
	right: 20px;
}

.dropdownContainer button.hasMinusSign, .dropdownContainer p, .dropdownContainer form, a.hasMinusSign, .dropdownContainer button {
	display: inline;
	border: 1px solid white;
}

.dropdownContainer a, .dropdownContainer p, .dropdownContainer button {
	background-color: #262626;
	outline: none;
	width: 85%;
	padding: 0;
	padding-left: 20px;
}

#side_nav_open_button {
	position: fixed;
	top: 19px;
	left: 17px;
	width: 30px;
	font-size: 30px;
	cursor: pointer;
	z-index: 6;
	border: 1px solid black;
}

.right-sidebar-nav {
	height: 96%;
	width: 0;
	position: fixed;
	z-index: 9;
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-top: 60px;
	white-space: nowrap; /* stops side nav buttons from wrapping when the side nav is opened/closed */
	transition: 0.5s;
	list-style: none;
}	

.right-sidebar-nav:hover{
	overflow-y: auto;
}

.right-sidebar-nav a, .right-sidebar-nav p {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	border: none;
	color: #818181;
	background-color: #111;
	width: 100%;
	text-align: left;
	display: block;
	transition: 0.3s;
	outline: none;
	margin: 0;
	border: 1px solid white;
}

.right-sidebar-nav a {
	cursor: pointer;
	position: relative;
	left: 50px;
}

.right-sidebar-nav a:hover {
	color: #f1f1f1;
}

.right-sidebar-nav .right-sidebar-closebtn {
	position: absolute;
	top: 22px;
	left: 25px;
	width: 30px;
	text-align: left;
	font-size: 36px;
	margin-right: 20px;
	outline: none;
	padding: 0;
	border: 1px solid white;
}

.blockRightSidebar {
	position: fixed;
	top: 15px;
	right: 15px;
	width: 40px;
	height: 15px;
	z-index: 7;
	border: 1px solid black;
}

#right_sidenav_open_button {
	position: fixed;
	top: 22px;
	right: 20px;
	width: 30px;
	font-size: 30px;
	text-align: center;
	z-index: 6;
	color: red;
	border: 1px solid black;
}

.home-search-create-buttons {
	position: fixed;
	top: 18px;
	left: 60px;
	z-index: 6;
	font-size: 40px;
	border: 1px solid black;
}

.home-search-create-buttons a {
	color: black;
}
