.backgroundDim {
	top: -50px;
	left: -50px;
	height: 10000px;
	width: 10000px;
	size: fill;
	position: fixed;
	z-index: 7;
	background-color: black;
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
}
body {
	border: 1px solid black;
}

h1 {
	left: 50px;
	top: 0;
	position: fixed;
	z-index: 8;
}

.blankAcrossTop {
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	z-index: 3;
	position: fixed;
	height: 70px;
	border: 1px solid black;
}

.relAcrossTop {
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	position: relative;
	height: 70px;
}

.sidebar-nav {
	height: 96%;
	width: 0;
	position: fixed;
	z-index: 9;
	top: -20px;
	left: -50px;
	background-color: #111;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-top: 60px;
	white-space: nowrap; /* stops side nav buttons from wrapping when the side nav is opened/closed */
	transition: 0.5s;
	list-style: none;
}	

.sidebar-nav:hover{
	overflow-y: auto;
}

.sidebar-nav a, .sidebar-nav button, .sidebar-nav p {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	border: none;
	color: #818181;
	background-color: #111;
	width: 100%;
	text-align: left;
	display: block;
	transition: 0.3s;
	outline: none;
	margin: 0;
}

.sidebar-nav a, .sidebar-nav button {
	cursor: pointer;
}

.sidebar-nav button:hover, .sidebar-nav a:hover {
	color: #f1f1f1;
}


.sidebar-nav .closebtn {
	position: absolute;
	top: 10px;
	right: 25px;
	text-align: right;
	font-size: 36px;
	margin-left: 50px;
	outline: none;
}

.dropdownContainer {
	height: 0;
	background-color: #262626;
	padding-left: 8px;
	overflow-y: hidden;
	transition: height .5s;
}

.dropdownContainer:hover {
	overflow-y: auto;
}

.fa-caret-down {
	position: absolute;
	right: 0;
	padding-right: 8px;
}


.dropdownContainer a, .dropdownContainer p, .dropdownContainer button {
	background-color: #262626;
	outline: none;
	width: 85%;
}

#side_nav_open_button {
	position: fixed;
	top: 19px;
	left: 17px;
	width: 30px;
	font-size: 30px;
	cursor: pointer;
	z-index: 6;
}
