#strength_workout_form {
	display: none;
}

#strength_workout_empty_form {
	display: none;
}

#cardio_workout_form {
	display: none;
}

#cardio_workout_empty_form {
	display: none;
}

.rest_input {
	width: 30px;
}
