#strength_workout_form {
	display: none;
}

#strength_workout_empty_form {
	display: none;
}

#cardio_workout_form {
	display: none;
}

#strength_program_form {
	display: none;
}

#cardio_workout_empty_form {
	display: none;
}

#secondary_bench_start_date_row {
	display: none;
}

#secondary_squat_start_date_row {
	display: none;
}
#secondary_deadlift_start_date_row {
	display: none;
}

input[type=text] {
	width: 80%;
	max-width: 80%;
}

input[type=number].rest_input {
	width: 30px;
	max-width: 30px;
}

td select {
	max-width: 80%;
}

input[type=button] {
	outline: none;
}

.popup2 {
	padding: 0px;
	top: 20%;
}

.open_create_movement_button {
  display: inline-block;
  background-color: #66b2b2;
  color: #e9ebee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 35%;
  height: 48px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.15);
  position: relative;
  top: -2px;
  font-weight: bold;
  padding: 0;
  margin-left: 5px;
  height: auto;
  min-height: 25px;
  outline: none;
}

.open_create_movement_button:hover {
	background-color: white;
	color: #66b2b2;
	font-weight: bold;
	transition: 0.25s;
}
