.somediv {
  background-color: White;
  position: fixed;
  z-index: 4;
  top: 70px;
  left: 0;
  width: 100%;
  height: 240px;
  border: 1px solid black;
}

.popup {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  display: block;
  z-index: 9999;
}

.popup2 {
  background-color: White;
  border: 2px solid black;
  display: block;
  height: 75%;
  width: 75%;
  z-index: 10000;
  top: 12.5%;
  left: 12.5%;
  position: fixed;
  padding-left: 10px;
  margin: auto;
}

.popup2 .popuptext {
  text-align: center;
}

.popup .show {
  visibility: hidden;
}

.tab {
  overflow: hidden;
  white-space: nowrap;
  background-color: white;
  width: 400px;
  height: 50px;
  top: 260px;
  position: fixed;
  left: 100px;
  z-index: 5;
  opacity: 1;
  border: 1px solid black;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 100px;
  height: 100%;
  transition: opacity 2s visibility 2s;
}

.athleteTab {
  left: 0;
  top: 260px;
  position: fixed;
  background-color: #f1f1f1;
  width: 100px;
  height: 50px;
  z-index: 5;
  border: 1px solid black;
}

.athletesNames {
  left: 0;
  top: 311px;
  position: fixed;
  overflow: hidden;
  background-color: #f1f1f1;
  width: 100px;
  z-index: 5;
  border: 1px solid black;
}

.athletesNames:hover {
  overflow-y: auto;
}

.athleteTab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 100%;
}

.athleteTab h2 {
  background-color: inherit;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  top: -8px;
  overflow: hidden;
  vertical-align: middle;
}

.athleteTab button.active {
  background-color: #ccc;
}

.noAthletes {
  left: 0;
  top: 311px;
  position: fixed;
  width: 100px;
  z-index: 5;
  border: 1px solid black;
}

.tab button:hover, .athleteTab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: red;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  left: 102px;
  top: 290px;
  position: absolute;
  z-index: 1;
  border: 1px solid black;
}
