.popup {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  display: block;
  z-index: 9999;
}

.popup2 {
  background-color: White;
  border: 2px solid black;
  display: block;
  height: 75%;
  width: 75%;
  z-index: 10000;
  top: 12.5%;
  left: 12.5%;
  position: fixed;
  padding-left: 10px;
  margin: auto;
}

.popup2 .popuptext {
  text-align: center;
}

.popup .show {
  visibility: hidden;
}

.tab {
  overflow: hidden;
  white-space: nowrap;
  background-color: white;
  width: 80%;
  height: 50px;
  top: 72px;
  position: fixed;
  left: 10%;
  z-index: 5;
  opacity: 1;
  box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
  border-radius: 0 5px 5px 0;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 25%;
  height: 100%;
  transition: opacity 2s visibility 2s;
}

.athleteTab {
  left: 0;
  top: 72px;
  position: fixed;
  background-color: white;
  width: 10%;
  height: 50px;
  z-index: 5;
  box-shadow: 0 0 0 1px rgba(0,0,0,.15);
}

.athletesNames {
  left: 0;
  top: 123px;
  position: fixed;
  overflow: hidden;
  background-color: #f1f1f1;
  width: 10%;
  box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
  border-radius: 0 0 5px 5px;
}

.athletesNames:hover {
  overflow-y: auto;
}

.athleteTab button {
  background-color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 100%;
}

.athleteTab h2 {
  background-color: inherit;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  top: -8px;
  overflow: hidden;
  vertical-align: middle;
}

.athleteTab button.active {
  background-color: #e9ebee;
}

.noAthletes {
  left: 0;
  top: 71px;
  position: fixed;
  width: 10%;
  z-index: 5;
  border: 1px solid black;
}

.tab button:hover, .athleteTab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #e9ebee;
}

.tabcontent {
  display: none;
  border-top: none;
  left: 10%;
  top: 122px;
  position: absolute;
  z-index: 1;
  width: 80%;
  /*border: 1px solid black;*/
  margin-bottom: 50px; /*adds space from last workout to bottom of page */
}



.tabcontent h2 {
	width: 100%;
	position: relative;
	text-align: center;
	/*border: 1px solid black;*/
	box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
	background-color: white;
	border-radius: 5px;
}

.workoutContent .dropdownOpenerWorkoutButtons {
	font-size: 20px;
	position: absolute;
	right: 20px;
	top: 10px;
	color: #66b2b2;
	cursor: pointer;
	background-color: white;
	z-index: 3;
	border: none;
}

.workoutContent .dropdownOpenerWorkoutButtons:hover {
	color: #e9ebee;
}

.workoutContent .dropdownContainerWorkoutButtons {
	height: 0;
	width: 0;
	box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
	position: absolute;
	right: 20px;
	top: 40px;
	overflow-y: hidden;
	overflow-x: hidden;
	z-index: 4;
	background-color: white;
}

.workoutContent .dropdownContainerWorkoutButtons button {
	position: absolute;
}

.workoutContent .dropdownContainerWorkoutButtons:hover {
	overflow-y: auto;
}

.calendar {
	width: 98%;
	margin: auto;
	font-size: 13px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
	/*border: 1px solid black;*/
	position: relative;
	top: 20px;
}

/* .calendar tr is the top headers (month, days of the week) .calendar td are the cells for the days of the month in the calendar */
.calendar td, calendar tr {
	box-shadow: 0 0 0 1px rgba(0,0,0,.15);
	/*border: 1px solid black;*/
	border-radius: 5px;
}

.calendar td {
	height: 95px;
	width: 200px;
	padding: 20px 0px 0px 5px;
}
.calendar ul {
	height: 100%;
	padding: 0px 5px 0px 20px;
}

.calendar th {
	padding: 10px;
	text-align: center;
	font-size: 18px;
}

.month {
	font-size: 25px;
}

.date {
	font-size: 16px;
	position: relative;
	top: 5px;
}

.next-previous-buttons {
	position: relative;
	top: 20px;
	z-index: 1;
}

.next-previous-buttons #nextMonthButton, .next-previous-buttons #previousMonthButton {
	position: absolute;
	top: 10px;
	color: black;
	border-radius: 4px;
	background-color: transparent;
	box-shadow: 0 0 0 0, 0 2px 3px rgba(0,0,0,.2); /*can get rid of after comma to get rid of shadow*/
	outline: none;
	border: 1px solid rgba(0,0,0,.15);
	font-size: 13px;
	cursor: pointer;
}

.next-previous-buttons #nextMonthButton:hover, .next-previous-buttons #previousMonthButton:hover {
	color: #66b2b2;
	background-color: #e9ebee;
}

.next-previous-buttons #nextMonthButton {
	right: 20px;
}

.next-previous-buttons #previousMonthButton {
	left: 20px;
}
