.textinput {
  box-sizing: border-box;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 1em;
  padding: 14px 20px 12px 10px;
  border: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  width: 14%;
  height: 50px;
  border-radius: 5px;
}

.textinput:focus {
  box-shadow: 0 0 0 2px #ddd;
  outline: none;
}

::placeholder {
	font-size: 1em;
}

#minDurationInput, #maxDurationInput {
  box-sizing: border-box;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 0px 12px 10px;
  border: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  width: 12%;
  max-width: 100%;
  height: 50px;
  border-radius: 5px;
}

#minDurationInput:focus, #maxDurationInput:focus {
  box-shadow: 0 0 0 2px #ddd;
  outline: none;
}

.centered {
  width: 90%;
  left: 5%;
  top: 5px;
}

.checkboxinputs {
  position: relative;
  top: -8px;
  width: 80%;
  left: 10%;
  text-align: center;
}

.filter_text {
  position: relative;
  width: 20%;
  left: 40%;
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  z-index: 2;
}

#myMovementDropdown {
  left: 60px;
}

#myMovementDropdown2 {
  left: 326px;
}

#myClassificationDropdown {
  right: 331px;
}

#filtersubmitbutton {
  display: inline-block;
  background-color: #66b2b2;
  color: #e9ebee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 5%;
  height: 48px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.15);
  position: relative;
  top: -2px;
  font-weight: bold;
  padding: 0;
}

#filtersubmitbutton:hover {
	background-color: white;
	color: #66b2b2;
	font-weight: bold;
	transition: 0.25s;
}

.dropdown option:hover {background-color: #ddd;}

.post_workout_form {
  display: inline;
}

.workout_display_name {
  display: inline;
}

.show {display: block;}
