{% extends "base_generic.html" %}

{% block extra_css %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/create_workout.css' %}">
{% endblock %}
{% block content %}
	{% if user.is_authenticated %}
		<h1>Create Workout</h1>
		
		<div class="center_stuff">
			<p>Select the type of workout:</p>
			<select id='workout_type_selector'>
				<option value="general_workout_form">General Workout</option>
				<option value="strength_workout_form">Strength Workout</option>
				<option value="cardio_workout_form">Cardio Workout</option>
			</select>
		</div>
		
		<div class="workout_form" id="general_workout_form">
			<form method="post">
				<div class="tabContentReplacement">
					<div class="listedWorkouts">
						<div class="workoutContent">
							{% csrf_token %}
							<table>
							{{ form1.as_table }}
							</table>
						</div>
						<input type="hidden" name="general workout">
						<input type="submit" value="Submit">
					</div>
				</div>
			</form>
		</div>
		
		<div class="workout_form" id="strength_workout_form">
			<form method='post'>
				<div class="tabContentReplacement">
					{% csrf_token %}
					{{ formset_strength.management_form }}
					<div class="listedWorkouts">
						<div id="strength_form_set">
							{% for form in formset_strength %}
								<div class="workoutContent">
									<p>
										<label><strong>{{ form.movement.label }}:</strong></label>
										{{ form.movement }}<br />
										<label><strong>{{ form.sets.label }}:</strong></label>
										{{ form.sets }}<br />
										<label><strong>{{ form.reps.label }}:</strong></label>
										{{ form.reps }}<br />
										{{ form.reps.help_text }}<br />
										<label><strong>{{ form.weight.label }}:</strong></label>
										{{ form.weight }}<br />
										<label><strong>{{ form.weight_units.label }}:</strong></label>
										{{ form.weight_units }}<br />
										<label><strong>{{ form.comment.label }}:</strong></label>
										{{ form.comment }}<br />
										{% if forloop.first %}
											{% if user.is_coach or user.is_gym_owner %}
												{% if user.coach.athletes.all %}
													<label><strong>{{ form.athlete_to_assign.label }}:</strong></label>
													{{ form.athlete_to_assign }}<br />
													<label><strong>{{ form.group_to_assign.label }}:</strong></label>
													{{ form.group_to_assign }}<br />
													<label><strong>{{ form.hide_from_athletes.label }}:</strong></label>
													{{ form.hide_from_athletes }}<br />
													<label><strong>{{ form.date_to_unhide.label }}:</strong></label>
													{{ form.date_to_unhide }}
												{% endif %}
											{% endif %}
										{% endif %}
									</p>
								</div>
							{% endfor %}
						</div>
						<div id="strength_workout_empty_form">
							<div class="workoutContent">
								<p>
									{% for i in formset_strength.empty_form %}
										{% if i.label == "Group to assign" or i.label == "Athlete to assign" or i.label == "Hide from athletes" or i.label == "Date to unhide" %}
										{% else %}
											<label><strong>{{ i.label }}:</strong></label> {{ i }}<br />
											{% if i.label == "Reps" %}{{ i.help_text }}<br />{% endif %}
										{% endif %}
									{% endfor %}
								</p>
							</div>
						</div>
						<input type="button" value="Add More" id="strength_add_more">
						<input type="hidden" name="strength workout">
						<input type="submit" value="Submit">
					</div>
				</div>
			</form>
			{% if formset_strength.errors %}
				{% for dict in formset_strength.errors %}
					{% for error in dict.values %}
						{{ error }}
					{% endfor %}
				{% endfor %}
			{% endif %}
		</div>
		<div class="workout_form" id="cardio_workout_form">
			<form method='post'>
				<div class="tabContentReplacement">
					{% csrf_token %}
					<input type="hidden" name="form-TOTAL_FORMS" value="1" id="cardio_id_form-TOTAL_FORMS" />
					<input type="hidden" name="form-INITIAL_FORMS" value="0" id="cardio_id_form-INITIAL_FORMS" />
					<input type="hidden" name="form-MAX_NUM_FORMS" id="cardio_id_form-MAX_NUM_FORMS" />
					<div class="listedWorkouts">
						<div id="cardio_form_set">
							{% for form in formset_cardio %}
								<div class="workoutContent">
									<p>
										<label><strong>{{ form.movement.label }}:</strong></label>
										{{ form.movement }}<br />
										<label><strong>{{ form.distance.label }}:</strong></label>
										{{ form.distance }}<br />
										<label><strong>{{ form.distance_units.label }}:</strong></label>
										{{ form.distance_units }}<br />
										<label><strong>{{ form.reps.label }}:</strong></label>
										{{ form.reps }}<br />
										<label><strong>{{ form.rest_minutes.label }}:</strong></label>
										{{ form.rest_minutes }}:{{ form.rest_seconds }}<br />
										<label><strong>{{ form.pace.label }}:</strong></label>
										{{ form.pace }}<br />
										<label><strong>{{ form.comment.label }}:</strong></label>
										{{ form.comment }}<br />
										{% if forloop.first %}
											{% if user.is_coach or user.is_gym_owner %}
												{% if user.coach.athletes.all %}
													<label><strong>{{ form.athlete_to_assign.label }}:</strong></label>
													{{ form.athlete_to_assign }}<br />
													<label><strong>{{ form.group_to_assign.label }}:</strong></label>
													{{ form.group_to_assign }}<br />
													<label><strong>{{ form.hide_from_athletes.label }}:</strong></label>
													{{ form.hide_from_athletes }}<br />
													<label><strong>{{ form.date_to_unhide.label }}:</strong></label>
													{{ form.date_to_unhide }}
												{% endif %}
											{% endif %}
										{% endif %}
									</p>
								</div>
							{% endfor %}
						</div>
						<div id="cardio_workout_empty_form">
							<div class="workoutContent">
								<p>
									{% for i in formset_cardio.empty_form %}
										{% if i.label == "Group to assign" or i.label == "Athlete to assign" or i.label == "Hide from athletes" or i.label == "Date to unhide" %}
										{% elif i.label == "Rest Seconds" %}
											: {{ i }}
										{% else %}
											{% if not forloop.first %}<br />{% endif %}<label><strong>{{ i.label }}:</strong></label> {{ i }}
										{% endif %}
									{% endfor %}
								</p>
							</div>
						</div>
						<input type="button" value="Add More" id="cardio_add_more">
						<input type="hidden" name="cardio workout">
						<input type="submit" value="Submit">
					</div>
				</div>
			</form>
			{% if formset_strength.errors %}
				{% for dict in formset_strength.errors %}
					{% for error in dict.values %}
						{{ error }}
					{% endfor %}
				{% endfor %}
			{% endif %}
		</div>
		{% if user.is_coach or user.is_gym_owner %}
			<div class="center_stuff">
				{% if not user.coach.athletes.all %}
					<p>You have no athletes. If you want to create this workout for your own athletes, add them first by <a href="{% url 'add_athletes' user.username %}">Clicking Here!</a></p>
				{% else %}
					<p>If no athletes or groups are chosen, the workout will be assigned to yourself.</p>
				{% endif %}
			</div>
		{% endif %}
	{% else %}
		<p>Please login to view this page.</p>
	{% endif %}
{% endblock %}
{% block extra_js %}
	{% load static %}
	<script src="{% static 'js/create_workout.js' %}"></script>
{% endblock %}
