{% extends "base_generic.html" %}

{% block content %}
	{% if user.is_authenticated %}
		{% if user.is_coach or user.is_gym_owner %}
			{% if athletes %}
				<h1>Create Group</h1>
				
				<div class="tabContentReplacement">
					<div class="listedWorkouts">
						<div class="workoutContent">
							<form method="post">
								{% csrf_token %}
								<table>
								{{ form.as_table }}
								</table>
								<input type="submit" class="input_submit" value="Submit" name="create group">
							</form>
						</div>
					</div>
				</div>
			{% else %}
				<div class="center_stuff"><p>You have no athletes, please add athletes first by <a href="{% url 'add_athletes' user.username %}">Clicking Here!</a></p></div>
			{% endif %}
		{% endif %}
	{% else %}
		<div class='center_stuff'><p>Please login to view this page.</p></div>
	{% endif %}
{% endblock %}
