{% extends "base_generic.html" %}

{% block content %}
	{% if user.is_authenticated %}
		{% if user.username == instance.current_user.username or user.coach in instance.current_user.athlete.coach_set.all %}
			<h1>Delete {{ instance.display_workout }}</h1>
			
			<div class="tabContentReplacement">
				<div class="listedWorkouts">
					<div class="workoutContent">
						<p><strong>Deleting this workout will only remove it from your profile, it will not remove it from the entire workout list.</strong></p>

						<p>Are you sure you want to remove this workout?</p>
						<form method="post">
							{% csrf_token %}
							<input type="submit" class="input_submit" value="Delete Workout" name="delete instance">
						</form>
					</div>
				</div>
			</div>
		{% else %}
			<div class='center_stuff'><p>You do not have permission to view this page. Please login with an account that has proper permissions.</p></div>
		{% endif %}
	{% else %}
		<div class='center_stuff'><p>Please login to view this page.</p></div>
	{% endif %}
{% endblock %}
