{% extends "base_generic.html" %}

{% block content %}
	{% if user.is_authenticated %}
		{% if user.is_coach or user.is_gym_owner %}
			<h2>Would you like to schedule this workout now?</h2>
			
			{% if athletes %}
				<p>Schedule this workout for the following athletes: 
				{% for i in athletes %}{{ i.user.username }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
			{% endif %}
			
			<p><strong>{{ workout.display_name }}</strong>:
			{% if workout.is_general_workout %}
				{{ workout.workout_text|linebreaks }}</p>
			{% elif workout.is_strength_workout %}
				{% for se in workout.strength_exercises.all %}
					<p>{{ se.movement.name }}</br >
					{% for se_set in se.set_set.all %}
						Set {{ se_set.set_number }}: {% if se_set.reps %}{{ se_set.reps }}{% else %}Max{% endif %} rep{% if se_set.reps > 1 %}s{% endif %}{% if se_set.weight %} at {{ se_set.weight|floatformat:"-1" }}{{ se_set.weight_units }}{% endif %}</br >
					{% endfor %}
					</p>
				{% endfor %}
			{% endif %}
			
			<form method='POST'>
				{% csrf_token %}
				<input type='submit' name='schedule workout for today for multiple athletes' value='Schedule For Today'>
			</form>
			<form action="{% url 'schedule_instance_for_multiple_athletes' user.username last_instance.id %}">
				{% csrf_token %}
				<input type="submit" name ='schedule workout for future' value="Schedule Workout For Future" />
			</form>
			<form action="{% url 'profile' user.username %}">
				{% csrf_token %}
				<input type="submit" value="No, Go To Profile">
			</form>
		{% endif %}
	{% endif %}
{% endblock %}
