{% extends "base_generic.html" %}

{% block content %}
	{% if user.is_authenticated %}
		{% if user.username == instance.current_user.username or user.coach in instance.current_user.athlete.coach_set.all %}
			<div class="center_stuff"><h2>Would you like to schedule this workout or have you already completed it?</h2></div>
			
			<div class="tabContentReplacement">
				<div class="listedWorkouts">
					<div class="workoutContent">
						<p><strong>{{ instance.display_workout }}</strong>:
						{% if instance.workout %}
							{{ instance.workout.workout_text|linebreaks }}</p>
						{% elif instance.strength_workout %}
							{% for se in instance.strength_workout.strength_exercises.all %}
								<p><strong>{{ se.movement.name }}</strong></br >
								{% for se_set in se.set_set.all %}
									Set {{ se_set.set_number }}: {% if se_set.reps %}{{ se_set.reps }}{% else %}Max{% endif %} rep{% if se_set.reps > 1 or not se_set.reps %}s{% endif %}{% if se_set.weight %} at {{ se_set.weight|floatformat:"-1" }}{{ se_set.weight_units }}{% endif %}{% if se_set.weight_units == '%' %} of 1 rep max{% endif %}</br >
								{% endfor %}
								</p>
							{% endfor %}
						{% elif instance.cardio_workout %}
							{% for ce in instance.cardio_workout.cardio_exercises.all %}
								<p><strong>{{ ce.movement.name }}</strong></br >
								{% if ce.number_of_reps %}{{ ce.number_of_reps }} x {% endif %}{{ ce.distance }}{{ ce.distance_units }}{% if ce.rest %} with {% if ce.rest_in_minutes > 0 %}{{ ce.rest_in_minutes }}min{% endif %}{% if ce.rest_remainder > 0 %} {{ ce.rest_remainder }}s{% endif %} rest{% endif %}{% if ce.pace %} at {{ ce.pace }} pace{% endif %}</br >
								{% if ce.comment %}{{ ce.comment }}{% endif %}
							{% endfor %}
						{% endif %}
						<form method='POST'>
							{% csrf_token %}
							<input type='submit' name='schedule workout for today' value='Schedule For Today'>
						</form>
						<form action="{% url 'schedule_instance' user.username instance.id %}">
							{% csrf_token %}
							<input type="submit" name ='schedule workout for future' value="Schedule Workout In Future" />
						</form>
						<form action="{% url 'result_create' user.username instance.id %}">
							{% csrf_token %}
							<input type="submit" name="created workout previous day add result" value="Add Result In Past" >
						</form>
						<form action="{% url 'result_create' user.username instance.id %}">
							{% csrf_token %}
							<input type="submit" name="created workout today add result" value="Add Result For Today" >
						</form>
						<form action="{% url 'workoutinstance-detail' user.username instance.id %}">
							{% csrf_token %}
							<input type="submit" value="No, Go To Workout">
						</form>
						<form action="{% url 'profile' user.username %}">
							{% csrf_token %}
							<input type="submit" value="No, Go To Profile">
						</form>
					</div>
				</div>
			</div>
		{% endif %}
	{% endif %}
{% endblock %}
