{% extends "base_generic.html" %}

{% block content %}
	{% if user.is_authenticated %}
		{% if user.is_coach or user.is_gym_owner %}
			{% if athletes %}
				<h1>Remove Athlete's</h1>
				
				<form method="post">
					{% csrf_token %}
					<table>
					{{ form.as_table }}
					</table>
					<input type="submit" value="Submit" name="remove athletes from coach">
				</form>
				
				<p>If an athlete is in a group they will be removed from that group.
				If there are no athletes left in the group after the athlete is removed, the group will be deleted.</p>
			{% else %}
				<p>You have no athletes, please add athletes first by <a href="{% url 'add_athletes' user.username %}">Clicking Here!</a></p>
			{% endif %}
		{% endif %}
	{% else %}
		<p>Please login to view this page.</p>
	{% endif %}
{% endblock %}