{% extends "base_generic.html" %}

{% block content %}
	{% if user.is_authenticated %}
		{% if user.is_coach or user.is_gym_owner %}
			<h1>Remove Athlete's From Group</h1>

			<div class="tabContentReplacement">
				<div class="listedWorkouts">
					<div class="workoutContent">
						<h2>{{ group.name }}</h2>
						
						<p>If there are no athletes left in the group after an athlete is removed, the group will be deleted.</p>
						
						<form method="post">
							{% csrf_token %}
							<table>
							{{ form.as_table }}
							</table>
							<input type="submit" class="input_submit" value="Submit" name="remove athletes from group">
						</form>
					</div>
				</div>
			</div>
		{% else %}
			<div class='center_stuff'><p>You do not have permission to view this page. Please login with an account that has proper permissions.</p></div>
		{% endif %}
	{% else %}
		<div class='center_stuff'><p>Please login to view this page.</p></div>
	{% endif %}
{% endblock %}
