{% extends "base_generic.html" %}

{% block extra_css %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/user_page.css' %}">
{% endblock %}
{% block content %}
	<h1>{{ user.username }}'s Homepage</h1>
	<div class="somediv">
		<div class="addremoveTab">
			{% if user.is_coach %}
				<form action="{% url 'add_athletes' user.username %}">
					{% csrf_token %}
					<input type="submit" value="Add Athletes" name='add athlete to coach page'>
				</form>
				<form action="{% url 'remove_athletes_from_coach' user.username %}">
					{% csrf_token %}
					<input type="submit" value="Remove Athletes" name='remove athlete from coach page'>
				</form>
				<form action="{% url 'create_group' user.username %}">
					{% csrf_token %}
					<input type="submit" value="Create Group" name='create group'>
				</form>
			{% endif %}
			<form action="{% url 'add_coach' user.username %}">
				{% csrf_token %}
				<input type="submit" value="Add Coach" name='add coach'>
			</form>
			<form action="{% url 'remove_coaches_from_athlete' user.username %}">
				{% csrf_token %}
				<input type="submit" value="Remove Coach" name='remove coach'>
			</form>
		</div>
		{% if request_list %}
			<p><a href="{% url 'request_list' user.username %}">View Requests</a></p>
		{% endif %}
		<div class="coachList">
			{% if coaches %}
				<h2>Coaches</h2>
				{% for coach in coaches %}
					<p>{{ coach.user.username }}</p>
				{% endfor %}
			{% endif %}
		</div>
		<div class="groupList">
			{% if user.is_coach or user.is_gym_owner %}
				{% if groups %}
					{% for i in groups %}
						<p><a href="{% url 'group_detail' user.username i.id %}"><strong>{{ i.name }}</strong></a></p>
					{% endfor %}
				{% endif %}
			{% endif %}
		</div>
		{% if not users_workouts %}
			<p>{{ user.username }}, you have no workouts saved. Find new workouts by <a href="{% url 'workouts' %}">Clicking Here!</a></p>
		{% endif %}
	</div>
	<div class="tab">
		<button class="tablinks" id="defaultOpenTab">This Week</button>
		<button class="tablinks" id="recentTab">Recent</button>
		<button class="tablinks" id="calendarTab">Calendar</button>
		<button class="tablinks" id="incompleteTab">Incomplete</button>
	</div>
	{% if user.is_coach or user.is_gym_owner %}
		<form id="whichUserDisplay" method="GET">
			<input type="hidden" id="chosenAthlete" name="q">
		</form>
		{% if athletes %}
			<div class="athleteTab">
				<h2>Athletes</h2>
				<div class="athletesNames">
					<button class="athleteButton defaultOpenUser" id={{ user.username }}>{{ user.username }} (You)</button>
					{% for athlete in athletes %}
						<button class="athleteButton" id={{ athlete.user.username }}>{{ athlete.user.username }}</button>
					{% endfor %}
				</div>
			</div>
		{% else %}
			<p>{{ user.username }}, you have no athletes! Add athletes by <a href="{% url 'add_athletes' user.username %}">Clicking Here!</a></p>
		{% endif %}
	{% else %}
		<input type='hidden' class='defaultOpenUser' value={{ user.username }}>
	{% endif %}
	{% if workouts_with_no_results_yesterday %}
			<div class="popup">
				<div class="popup2">
					<span class="popuptext" id="myPopup">
						<p>Did you complete these workouts yesterday?</p>
						{% for i in workouts_with_no_results_yesterday %}
							<p>{{ i.workout.display_name }}</p>
							<form class="post_workout_form" action="{% url 'result_create' user.username i.id %}">
								{% csrf_token %}
								<input type="submit" value="Yes, Add Result" name="previous day add result">
							</form>
							<form class="post_workout_form" action="{% url 'edit_schedule' user.username i.id %}">
								{% csrf_token %}
								<input type="submit" value="No, Re-Schedule" name="previous day edit schedule">
							</form>
						{% endfor %}
						<p>Otherwise remove scheduled date (-link to remove the date scheduled for yesterday)</p>
					</span>
				</div>
			</div>
	{% endif %}
	<div id="This Week" class="tabcontent">
		{% if user.is_coach or user.is_gym_owner %}
			{% if chosen_users_dict_of_this_weeks_workouts %}
				<h2>This Weeks Workouts</h2>
				{% for k, v in chosen_users_dict_of_this_weeks_workouts.items %}
					{% if v %}
						<h3>{{k|date:"l"}}</h3>
					{% endif %}
					<ul>
						{% for i in v %}
							{% if i.workout %}
								{% if i.youngest_scheduled_date %}
									<li>
										{% if i.is_hidden %}
											{% if i.assigned_by_user != request.user %}
												<p>Workout Hidden - {% if i.date_to_unhide %}This workout will unhide on {{ i.date_to_unhide|date:"F j, Y" }}.{% else %}This workout is not scheduled to unhide.{% endif %}</p>
											{% else %}
												<p><a href="{{ i.get_absolute_url }}">{{ i.workout.display_name }}</a>{% if i.edited_workout_text != i.workout.workout_text %} - Edited From Original Workout.{% endif %} - Hidden{% if i.date_to_unhide %} until {{ i.date_to_unhide|date:"F j, Y" }}.{% else %}, not scheduled to unhide.{% endif %}
												<form class="post_workout_form" action="{% url 'result_create' user.username i.id %}">
													{% csrf_token %}
													<input type="submit" value="Add Result" name="add result">
												</form>
												<form class="post_workout_form" action="{% url 'edit_schedule' user.username i.id %}">
													{% csrf_token %}
													<input type="submit" value="Edit Schedule" name="edit schedule">
												</form>
												<form class="post_workout_form" action="{% url 'delete_schedule' user.username i.id %}">
													{% csrf_token %}
													<input type="submit" value="Delete Schedule" name="Delete schedule">
												</form>
												{{ i.edited_workout_text|linebreaks }}</p>
											{% endif %}
										{% else %}
											<p><a href="{{ i.get_absolute_url }}">{{ i.workout.display_name }}</a>{% if i.edited_workout_text != i.workout.workout_text %} - Edited From Original Workout.{% endif %}
											<form class="post_workout_form" action="{% url 'result_create' user.username i.id %}">
												{% csrf_token %}
												<input type="submit" value="Add Result" name="add result">
											</form>
											<form class="post_workout_form" action="{% url 'edit_schedule' user.username i.id %}">
												{% csrf_token %}
												<input type="submit" value="Edit Schedule" name="edit schedule">
											</form>
											<form class="post_workout_form" action="{% url 'delete_schedule' user.username i.id %}">
												{% csrf_token %}
												<input type="submit" value="Delete Schedule" name="Delete schedule">
											</form>
											{{ i.edited_workout_text|linebreaks }}</p>
										{% endif %}
									</li>
								{% endif %}
							{% endif %}
						{% endfor %}
					</ul>
				{% endfor %}
			{% else %}
				<p>{% if chosen_user == request.user %}You have{% else %}{{ chosen_user }} has{% endif %} no workouts scheduled for this week.</p>
			{% endif %}
		{% elif dict_of_this_weeks_workouts %}
			<h2>This Weeks Workouts</h2>
			{% for k, v in dict_of_this_weeks_workouts.items %}
				{% if v %}
					<h3>{{k|date:"l"}}</h3>
				{% endif %}
				<ul>
					{% for i in v %}
						{% if i.workout %}
							{% if i.youngest_scheduled_date %}
								<li>
									{% if i.is_hidden %}
										<p>Workout Hidden - {% if i.date_to_unhide %}This workout will unhide on {{ i.date_to_unhide|date:"F j, Y" }}.{% else %}This workout is not scheduled to unhide.{% endif %}</p>
									{% else %}
										<p><a href="{{ i.get_absolute_url }}">{{ i.workout.display_name }}</a>{% if i.edited_workout_text != i.workout.workout_text %} - Edited From Original Workout.{% endif %}
										<form class="post_workout_form" action="{% url 'result_create' user.username i.id %}">
											{% csrf_token %}
											<input type="submit" value="Add Result" name="add result">
										</form>
										<form class="post_workout_form" action="{% url 'edit_schedule' user.username i.id %}">
											{% csrf_token %}
											<input type="submit" value="Edit Schedule" name="edit schedule">
										</form>
										<form class="post_workout_form" action="{% url 'delete_schedule' user.username i.id %}">
											{% csrf_token %}
											<input type="submit" value="Delete Schedule" name="Delete schedule">
										</form>
										{{ i.edited_workout_text|linebreaks }}</p>
									{% endif %}
								</li>
							{% endif %}
						{% endif %}
					{% endfor %}
				</ul>
			{% endfor %}
		{% else %}
			<p>You have no workouts scheduled for this week.</p>
		{% endif %}
	</div>
	<div id="Calendar" class="tabcontent">
		{% if user.is_coach or user.is_gym_owner %}
			{% if chosen_users_long_future_workouts %}
				<h2>More Than 1 Week Ahead (Not showing workouts that are also scheduled for the current week)</h2>
				<ul>
					{% for future_instance in chosen_users_long_future_workouts %}
						{% if future_instance.workout %}
							{% if future_instance.youngest_scheduled_date %}
								<li>
									{% if future_instance.is_hidden %}
										{% if future_instance.assigned_by_user != request.user %}
											<p>Workout Hidden - {% if future_instance.date_to_unhide %}This workout will unhide on {{ future_instance.date_to_unhide|date:"F j, Y" }}.{% else %}This workout is not scheduled to unhide.{% endif %}</p>
										{% else %}
											<p><a href="{{ future_instance.get_absolute_url }}">{{ future_instance.workout.display_name }}</a>{% if future_instance.edited_workout_text != future_instance.workout.workout_text %} - Edited From Original Workout.{% endif %} - Hidden{% if future_instance.date_to_unhide %} until {{ future_instance.date_to_unhide|date:"F j, Y" }}.{% else %}, not scheduled to unhide.{% endif %}
											<br /><strong>Scheduled for: {{ future_instance.youngest_scheduled_date.date_completed|date:"l, F j, Y" }}</strong>
											<form class="post_workout_form" action="{% url 'edit_schedule' user.username future_instance.id %}">
												{% csrf_token %}
												<input type="submit" value="Edit Schedule" name="edit schedule">
											</form>
											<form class="post_workout_form" action="{% url 'delete_schedule' user.username future_instance.id %}">
												{% csrf_token %}
												<input type="submit" value="Delete Schedule" name="Delete schedule">
											</form>
											{{ future_instance.edited_workout_text|linebreaks }}</p>
										{% endif %}
									{% else %}
										<p><a href="{{ future_instance.get_absolute_url }}">{{ future_instance.workout.display_name }}</a>{% if future_instance.edited_workout_text != future_instance.workout.workout_text %} - Edited From Original Workout.{% endif %}
										<br /><strong>Scheduled for: {{ future_instance.youngest_scheduled_date.date_completed|date:"l, F j, Y" }}</strong>
										<form class="post_workout_form" action="{% url 'edit_schedule' user.username future_instance.id %}">
											{% csrf_token %}
											<input type="submit" value="Edit Schedule" name="edit schedule">
										</form>
										<form class="post_workout_form" action="{% url 'delete_schedule' user.username future_instance.id %}">
											{% csrf_token %}
											<input type="submit" value="Delete Schedule" name="Delete schedule">
										</form>
										{{ future_instance.edited_workout_text|linebreaks }}</p>
									{% endif %}
								</li>
							{% endif %}
						{% endif %}
					{% endfor %}
				</ul>
			{% else %}
				<p>{% if chosen_user == request.user %}You have{% else %}{{ chosen_user }} has{% endif %} no workouts scheduled farther out than 1 week.</p>
			{% endif %}
		{% elif long_future_workouts %}
			<h2>More Than 1 Week Ahead (Not showing workouts that are also scheduled for the current week)</h2>
			<ul>
				{% for future_instance in long_future_workouts %}
					{% if future_instance.workout %}
						{% if future_instance.youngest_scheduled_date %}
							<li>
								{% if future_instance.is_hidden %}
									<p>Workout Hidden - {% if future_instance.date_to_unhide %}This workout will unhide on {{ future_instance.date_to_unhide|date:"F j, Y" }}.{% else %}This workout is not scheduled to unhide.{% endif %}</p>
								{% else %}
									<p><a href="{{ future_instance.get_absolute_url }}">{{ future_instance.workout.display_name }}</a>{% if future_instance.edited_workout_text != future_instance.workout.workout_text %} - Edited From Original Workout.{% endif %}
									<br /><strong>Scheduled for: {{ future_instance.youngest_scheduled_date.date_completed|date:"l, F j, Y" }}</strong>
									<form class="post_workout_form" action="{% url 'edit_schedule' user.username future_instance.id %}">
										{% csrf_token %}
										<input type="submit" value="Edit Schedule" name="edit schedule">
									</form>
									<form class="post_workout_form" action="{% url 'delete_schedule' user.username future_instance.id %}">
										{% csrf_token %}
										<input type="submit" value="Delete Schedule" name="Delete schedule">
									</form>
									{{ future_instance.edited_workout_text|linebreaks }}</p>
								{% endif %}
							</li>
						{% endif %}
					{% endif %}
				{% endfor %}
			</ul>
		{% else %}
			<p>You have no long future workouts.</p>
		{% endif %}
		{% if user.is_coach or user.is_gym_owner %}
			{% if chosen_users_long_past_workouts %}
				<h2>Past Workouts</h2>
				<ul>
					{% for past_instance in chosen_users_long_past_workouts %}
						{% if past_instance.workout %}
							<li>
								{% if past_instance.is_hidden %}
									{% if past_instance.assigned_by_user != request.user %}
										<p>Workout Hidden - {% if past_instance.date_to_unhide %}This workout will unhide on {{ past_instance.date_to_unhide|date:"F j, Y" }}.{% else %}This workout is not scheduled to unhide.{% endif %}</p>
									{% else %}
										<p><a href="{{ past_instance.get_absolute_url }}">{{ past_instance.workout.display_name }}</a>{% if past_instance.edited_workout_text != past_instance.workout.workout_text %} - Edited From Original Workout.{% endif %} - Hidden{% if past_instance.date_to_unhide %} until {{ past_instance.date_to_unhide|date:"F j, Y" }}.{% else %}, not scheduled to unhide.{% endif %}
										<br /><strong>Last Completed On: {{ past_instance.oldest_completed_date.date_completed|date:"l, F j, Y" }}</strong>
										<form action="{% url 'schedule_instance' user.username past_instance.id %}">
											<input type="submit" value="Schedule Workout" />
										</form>
										{{ past_instance.edited_workout_text|linebreaks }}</p>
									{% endif %}
								{% else %}
									<p><a href="{{ past_instance.get_absolute_url }}">{{ past_instance.workout.display_name }}</a>{% if past_instance.edited_workout_text != past_instance.workout.workout_text %} - Edited From Original Workout.{% endif %}
									<br /><strong>Last Completed On: {{ past_instance.oldest_completed_date.date_completed|date:"l, F j, Y" }}</strong>
									<form action="{% url 'schedule_instance' user.username past_instance.id %}">
										<input type="submit" value="Schedule Workout" />
									</form>
									{{ past_instance.edited_workout_text|linebreaks }}</p>
								{% endif %}
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			{% else %}
				<p>{% if chosen_user == request.user %}You have{% else %}{{ chosen_user }} has{% endif %} not completed any workouts longer than 2 weeks ago.</p>
			{% endif %}
		{% elif long_past_workouts %}
			<h2>Past Workouts</h2>
			<ul>
				{% for past_instance in long_past_workouts %}
					{% if past_instance.workout %}
						<li>
							{% if past_instance.is_hidden %}
								<p>Workout Hidden - {% if past_instance.date_to_unhide %}This workout will unhide on {{ past_instance.date_to_unhide|date:"F j, Y" }}.{% else %}This workout is not scheduled to unhide.{% endif %}</p>
							{% else %}
								<p><a href="{{ past_instance.get_absolute_url }}">{{ past_instance.workout.display_name }}</a>{% if past_instance.edited_workout_text != past_instance.workout.workout_text %} - Edited From Original Workout.{% endif %}
								<br /><strong>Last Completed On: {{ past_instance.oldest_completed_date.date_completed|date:"l, F j, Y" }}</strong>
								<form action="{% url 'schedule_instance' user.username past_instance.id %}">
									<input type="submit" value="Schedule Workout" />
								</form>
								{{ past_instance.edited_workout_text|linebreaks }}</p>
							{% endif %}
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		{% else %}
			<p>You have no long past workouts.</p>
		{% endif %}
	</div>
	<div id="Recent" class="tabcontent">
		{% if user.is_coach or user.is_gym_owner %}
			{% if chosen_users_recent_past_workouts %}
				<h2>Recent Workouts</h2>
				<ul>
					{% for recent_instance in chosen_users_recent_past_workouts %}
						{% if recent_instance.workout %}
							<li>
								{% if recent_instance.is_hidden %}
									{% if recent_instance.assigned_by_user != request.user %}
										<p>Workout Hidden - {% if recent_instance.date_to_unhide %}This workout will unhide on {{ recent_instance.date_to_unhide|date:"F j, Y" }}.{% else %}This workout is not scheduled to unhide.{% endif %}</p>
									{% else %}
										<p><a href="{{ recent_instance.get_absolute_url }}">{{ recent_instance.workout.display_name }}</a>{% if recent_instance.edited_workout_text != recent_instance.workout.workout_text %} - Edited From Original Workout.{% endif %} - Hidden{% if recent_instance.date_to_unhide %} until {{ recent_instance.date_to_unhide|date:"F j, Y" }}.{% else %}, not scheduled to unhide.{% endif %}
										<br /><strong>Last Completed On: {{ recent_instance.oldest_completed_date.date_completed|date:"l, F j, Y" }}</strong>
										<form action="{% url 'schedule_instance' user.username recent_instance.id %}">
											<input type="submit" value="Schedule Workout" />
										</form>
										{{ recent_instance.edited_workout_text|linebreaks }}</p>
									{% endif %}
								{% else %}
									<p><a href="{{ recent_instance.get_absolute_url }}">{{ recent_instance.workout.display_name }}</a>{% if recent_instance.edited_workout_text != recent_instance.workout.workout_text %} - Edited From Original Workout.{% endif %}
									<br /><strong>Last Completed On: {{ recent_instance.oldest_completed_date.date_completed|date:"l, F j, Y" }}</strong>
									<form action="{% url 'schedule_instance' user.username recent_instance.id %}">
										<input type="submit" value="Schedule Workout" />
									</form>
									{{ recent_instance.edited_workout_text|linebreaks }}</p>
								{% endif %}
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			{% else %}
				<p>{% if chosen_user == request.user %}You have{% else %}{{ chosen_user }} has{% endif %} no recently completed workouts.</p>
			{% endif %}
		{% elif recent_past_workouts %}
			<h2>Recent Workouts</h2>
			<ul>
				{% for recent_instance in recent_past_workouts %}
					{% if recent_instance.workout %}
						<li>
							{% if recent_instance.is_hidden %}
								<p>Workout Hidden - {% if recent_instance.date_to_unhide %}This workout will unhide on {{ recent_instance.date_to_unhide|date:"F j, Y" }}.{% else %}This workout is not scheduled to unhide.{% endif %}</p>
							{% else %}
								<p><a href="{{ recent_instance.get_absolute_url }}">{{ recent_instance.workout.display_name }}</a>{% if recent_instance.edited_workout_text != recent_instance.workout.workout_text %} - Edited From Original Workout.{% endif %}
								<br /><strong>Last Completed On: {{ recent_instance.oldest_completed_date.date_completed|date:"l, F j, Y" }}</strong>
								<form action="{% url 'schedule_instance' user.username recent_instance.id %}">
									<input type="submit" value="Schedule Workout" />
								</form>
								{{ recent_instance.edited_workout_text|linebreaks }}</p>
							{% endif %}
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		{% else %}
			<p>You have not completed any workouts in the past 2 weeks.</p>
		{% endif %}
	</div>
	<div id="Incomplete" class="tabcontent">
		{% if user.is_coach or user.is_gym_owner %}
			{% if chosen_users_incomplete_workouts %}
				<h2>Workouts That Haven't Been Completed Or Are Not Scheduled For The Future</h2>
				<ul>
					{% for instance in chosen_users_incomplete_workouts %}
						{% if instance.workout %}
							<li>
								{% if instance.is_hidden %}
									{% if instance.assigned_by_user != request.user %}
										<p>Workout Hidden - {% if instance.date_to_unhide %}This workout will unhide on {{ instance.date_to_unhide|date:"F j, Y" }}.{% else %}This workout is not scheduled to unhide.{% endif %}</p>
									{% else %}
										<p><a href="{{ instance.get_absolute_url }}">{{ instance.workout.display_name }}</a>{% if instance.edited_workout_text != instance.workout.workout_text %} - Edited From Original Workout.{% endif %} - Hidden{% if instance.date_to_unhide %} until {{ instance.date_to_unhide|date:"F j, Y" }}.{% else %}, not scheduled to unhide.{% endif %}
										<form class="post_workout_form" action="{% url 'result_create' user.username instance.id %}">
											{% csrf_token %}
											<input type="submit" value="Add Result" name="add result">
										</form>
										<form action="{% url 'schedule_instance' user.username instance.id %}">
											<input type="submit" value="Schedule Workout" />
										</form>
										{{ instance.edited_workout_text|linebreaks }}</p>
									{% endif %}
								{% else %}
									<p><a href="{{ instance.get_absolute_url }}">{{ instance.workout.display_name }}</a>{% if instance.edited_workout_text != instance.workout.workout_text %} - Edited From Original Workout.{% endif %}
									<form class="post_workout_form" action="{% url 'result_create' user.username instance.id %}">
										{% csrf_token %}
										<input type="submit" value="Add Result" name="add result">
									</form>
									<form action="{% url 'schedule_instance' user.username instance.id %}">
										<input type="submit" value="Schedule Workout" />
									</form>
									{{ instance.edited_workout_text|linebreaks }}</p>
								{% endif %}
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			{% else %}
				<p>{% if chosen_user == request.user %}You have{% else %}{{ chosen_user }} has{% endif %} no incomplete workouts.</p>
			{% endif %}
		{% elif other_workouts %}
			<h2>Workouts That Haven't Been Completed Or Are Not Scheduled For The Future</h2>
			<ul>
				{% for instance in other_workouts %}
					{% if instance.workout %}
						<li>
							{% if instance.is_hidden %}
								<p>Workout Hidden - {% if instance.date_to_unhide %}This workout will unhide on {{ instance.date_to_unhide|date:"F j, Y" }}.{% else %}This workout is not scheduled to unhide.{% endif %}</p>
							{% else %}
								<p><a href="{{ instance.get_absolute_url }}">{{ instance.workout.display_name }}</a>{% if instance.edited_workout_text != instance.workout.workout_text %} - Edited From Original Workout.{% endif %}
								<form class="post_workout_form" action="{% url 'result_create' user.username instance.id %}">
									{% csrf_token %}
									<input type="submit" value="Add Result" name="add result">
								</form>
								<form action="{% url 'schedule_instance' user.username instance.id %}">
									<input type="submit" value="Schedule Workout" />
								</form>
								{{ instance.edited_workout_text|linebreaks }}</p>
							{% endif %}
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		{% else %}
			<p>You have no unscheduled or non-completed workouts.</p>
		{% endif %}
	</div>
{% endblock %}
{% block extra_js %}
	{% load static %}
	<script src="{% static 'js/user_page.js' %}"></script>
{% endblock %}
