{% extends "base_generic.html" %}

{% block content %}
	<h1>{{ user.username }}'s Homepage</h1>
	{% if future_workouts %}
		<h2>Scheduled Workouts</h2>
		
		<ul>
			{% for future_instance in future_workouts %}
				{% if future_instance.workout %}
					<li>
						<p><a href="{{ future_instance.get_absolute_url }}">{{ future_instance.workout.display_name }}</a>
						<br /><strong>Scheduled for: {{ future_instance.get_earliest_scheduled_date|date:"l, F j, Y" }}</strong>
						<br />{{ future_instance.workout.workout_text|linebreaks }}</p>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	{% endif %}
	{% if recent_past_workouts %}
		<h2>Recent Workouts</h2>
		
		<ul>
			{% for recent_instance in recent_past_workouts %}
				{% if recent_instance.workout %}
					<li>
						<p><a href="{{ recent_instance.get_absolute_url }}">{{ recent_instance.workout.display_name }}</a>
						<br /><strong>Last Completed On: {{ recent_instance.get_latest_date_completed|date:"l, F j, Y" }}</strong>
						<br />{{ recent_instance.workout.workout_text|linebreaks }}</p>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	{% endif %}
	{% if long_past_workouts %}
		<h2>Past Workouts</h2>
		
		<ul>
			{% for past_instance in long_past_workouts %}
				{% if past_instance.workout %}
					<li>
						<p><a href="{{ past_instance.get_absolute_url }}">{{ past_instance.workout.display_name }}</a>
						<br /><strong>Last Completed On: {{ past_instance.get_latest_date_completed|date:"l, F j, Y" }}</strong>
						<br />{{ past_instance.workout.workout_text|linebreaks }}</p>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	{% endif %}
	{% if users_workouts %}
	<h2>All Users Workouts</h2>
	<ul>
		{% for instance in users_workouts %}
			{% if instance.workout %}
				<li>
					<p><a href="{{ instance.get_absolute_url }}">{{ instance.workout.display_name }}</a>
					<br />{{ instance.workout.workout_text|linebreaks }}</p>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
	{% else %}
		<p>{{ user.username }}, you have no workouts saved.</p>
	{% endif %}
{% endblock %}
