{% extends "base_generic.html" %}

{% block content %}
	{% if user.is_authenticated %}
		{% if user.username == workoutinstance.current_user.username or user.coach in workoutinstance.current_user.athlete.coach_set.all %}
			<form action="{% url 'schedule_instance' user.username workoutinstance.id %}">
				<input type="submit" value="Schedule Workout" />
			</form>
			<form action="{% url 'schedule_instance_for_multiple_athletes' user.username workout.id %}">
				<input type="submit" value="Schedule For All Your Athletes With This Workout" />
			</form>
			<form class="post_workout_form" action="{% url 'edit_schedule' user.username workoutinstance.id %}">
				{% csrf_token %}
				<input type="submit" value="Edit Schedule" name="edit schedule">
			</form>
			<form class="post_workout_form" action="{% url 'delete_schedule' user.username workoutinstance.id %}">
				{% csrf_token %}
				<input type="submit" value="Delete Schedule" name="Delete schedule">
			</form>
			<form action="{% url 'edit_instance' user.username workoutinstance.id %}">
				<input type="submit" value="Edit Workout" />
			</form>
			<form action="{% url 'delete_instance' user.username workoutinstance.id %}">
				<input type="submit" value="Delete Workout" />
			</form>
			<h1>{{ workoutinstance.workout.display_name }}</h1><p> - Last Completed: {% if workoutinstance.oldest_completed_date %}{{ workoutinstance.oldest_completed_date.date_completed|date:"l, F j, Y" }}{% else %} Never {% endif %}</p>
			<p><strong>Description:</strong> {{ workoutinstance.edited_workout_text|linebreaks }}</p>
			<p><strong>Scaling:</strong> {{ workoutinstance.edited_scaling_text|linebreaks }}</p>
			<p><strong>Duration:</strong> {% if duration_minutes == 0 and duration_seconds == 0 %} No Results {% endif %}{% if duration_minutes > 0 %}{{ duration_minutes }} minutes {% endif %}{% if duration_seconds > 0 %} {{ duration_seconds }} seconds {% endif %}</p>
			<p><strong>Number of Times You've Completed:</strong> {{ workoutinstance.number_of_times_completed }}</p>
			
			<form action="{% url 'result_create' user.username workoutinstance.id %}">
				<input type="submit" value="Add Result" />
			</form>
			{% if result_list %}
			<p><strong>Results:</strong></p>
				<ul>
					{% for result in result_list %}
						<li>
							<p><a href="{% url 'edit_result' user.username workoutinstance.id result.id %}"><strong>{{ result.date_workout_completed|date:"F j, Y" }}</strong></a> - <form action="{% url 'delete_result' user.username workoutinstance.id result.id %}"><input type="submit" value="Delete Result" /></form></p>
							{% if result.duration_in_minutes > 0 %}
								<p>{{ result.duration_in_minutes }} minutes</p>
							{% endif %}
							{% if result.duration_remainder > 0 %}
								<p>{{ result.duration_remainder }} seconds</p>
							{% endif %}
							{% if result.duration_in_minutes == 0 and result.duration_remainder == 0 %}
								<p>No Duration Results</p>
							{% endif %}
							<p>{{ result.result_text }}</p>
							{% if result.resultfile_set.all %}
								{% for resultfile in result.resultfile_set.all %}
									{% if resultfile.content_type == "image/png" or resultfile.content_type == "image/jpeg" or resultfile.content_type == "image/gif" %}
										<img src="{{ resultfile.file.url }}" width="750" height="500"/>
									{% elif resultfile.content_type == "video/mp4" %}
										<video controls>
											<source src="{{ MEDIA_URL }}{{ resultfile.file }}">
										</video>
									{% else %}
										<p>Content Type: {{ resultfile.content_type }}</p>
									{% endif %}
									<p>Caption: {{ resultfile.caption }}</p>
								{% endfor %}
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% else %}
			<p>You do not have permission to view this page. Please login with an account that has proper permissions.</p>
		{% endif %}
	{% else %}
		<p>Please login to view this page.</p>
	{% endif %}
{% endblock %}
