{% extends "base_generic.html" %}

{% block content %}
	{% if user.is_authenticated %}
		{% if user.username == workoutinstance.current_user.username or user.coach in workoutinstance.current_user.athlete.coach_set.all %}
			<h1>{{ workoutinstance.display_workout }}</h1><p> - Last Completed: {% if workoutinstance.oldest_completed_date %}{{ workoutinstance.oldest_completed_date.date_completed|date:"l, F j, Y" }}{% else %} Never {% endif %}</p>
			<form action="{% url 'schedule_instance' user.username workoutinstance.id %}">
				<input type="submit" value="Schedule Workout" />
			</form>
			<form class="post_workout_form" action="{% url 'edit_schedule' user.username workoutinstance.id %}">
				<input type="submit" value="Edit Schedule" name="edit schedule">
			</form>
			<form class="post_workout_form" action="{% url 'delete_schedule' user.username workoutinstance.id %}">
				<input type="submit" value="Delete Schedule" name="Delete schedule">
			</form>
			<form action="{% url 'edit_instance' user.username workoutinstance.id %}">
				<input type="submit" value="Edit Workout" />
			</form>
			<form action="{% url 'delete_instance' user.username workoutinstance.id %}">
				<input type="submit" value="Delete Workout" />
			</form>
			{% if user.is_coach or user.is_gym_owner %}
				{% if workoutinstance.is_assigned_by_coach_or_gym_owner %}
					{% if workoutinstance.assigned_by_user == request.user %}
						<form action="{% url 'schedule_instance_for_multiple_athletes' user.username workoutinstance.id %}">
							<input type="submit" value="Schedule For All Your Athletes With This Workout" />
						</form>
						<form action="{% url 'edit_schedule_for_multiple_athletes' user.username workoutinstance.id %}">
							<input type="submit" value="Edit Schedule For All Your Athletes With This Workout" />
						</form>
						{% if workoutinstance.is_hidden %}
							<form class="post_workout_form" method='POST'>
								{% csrf_token %}
								<input type="submit" value="Unhide" name="unhide instance">
							</form>
						{% else %}
							<form class="post_workout_form" action="{% url 'hide_instance' user.username workoutinstance.id %}">
								<input type="submit" value="Hide">
							</form>
						{% endif %}
					{% endif %}
				{% endif %}
			{% endif %}
			{% if user.is_coach or user.is_gym_owner %}{% if workoutinstance.is_hidden %}Hidden - will unhide to athletes on: {% if workoutinstance.date_to_unhide %}{{ workoutinstance.date_to_unhide|date:"F j, Y" }}{% else %}Never{% endif %}{% endif %}{% endif %}</p>
			{% if workoutinstance.workout %}
				<p><strong>Description:</strong> {{ workoutinstance.edited_workout_text|linebreaks }}</p>
				<p><strong>Scaling/Comments:</strong> {{ workoutinstance.edited_scaling_text|linebreaks }}</p>
				<p><strong>Duration:</strong> {% if duration_minutes == 0 and duration_seconds == 0 %} No Results {% endif %}{% if duration_minutes > 0 %}{{ duration_minutes }} minutes {% endif %}{% if duration_seconds > 0 %} {{ duration_seconds }} seconds {% endif %}</p>
				<p><strong>Number of Times You've Completed:</strong> {{ workoutinstance.number_of_times_completed }}</p>
			{% elif workoutinstance.strength_workout %}
				{% for se in workoutinstance.strength_workout.strength_exercises.all %}
					<p><strong>{{ se.movement.name }}</strong></br >
					{% for se_set in se.set_set.all %}
						Set {{ se_set.set_number }}: {% if se_set.reps %}{{ se_set.reps }}{% else %}Max{% endif %} rep{% if se_set.reps > 1 or not se_set.reps %}s{% endif %}{% if se_set.weight %} at {{ se_set.weight|floatformat:"-1" }}{{ se_set.weight_units }}{% endif %}{% if se_set.weight_units == '%' %} of 1 rep max{% endif %}</br >
					{% endfor %}
					{% if se.comment %}{{ se.comment }}{% endif %}
					</p>
				{% endfor %}
			{% endif %}
			<form action="{% url 'result_create' user.username workoutinstance.id %}">
				<input type="submit" value="Add Result" />
			</form>
			{% if result_list %}
				<p><strong>Results:</strong></p>
				<ul>
					<div class="infinite-container">
						{% for result in result_list %}
							<div class="infinite-item">
								<li>
									<p><a href="{% url 'edit_result' user.username workoutinstance.id result.id %}"><strong>{{ result.date_workout_completed|date:"F j, Y" }}</strong></a> - <form action="{% url 'delete_result' user.username workoutinstance.id result.id %}"><input type="submit" value="Delete Result" /></form></p>
									{% if workoutinstance.workout %}
										{% if result.duration_in_minutes > 0 %}
											<p>{{ result.duration_in_minutes }} minutes</p>
										{% endif %}
										{% if result.duration_remainder > 0 %}
											<p>{{ result.duration_remainder }} seconds</p>
										{% endif %}
										{% if result.duration_in_minutes == 0 and result.duration_remainder == 0 %}
											<p>No Duration Results</p>
										{% endif %}
									{% endif %}
									<p>{{ result.result_text|linebreaks }}</p>
									{% if result.resultfile_set.all %}
										{% for resultfile in result.resultfile_set.all %}
											{% if resultfile.content_type == "image/png" or resultfile.content_type == "image/jpeg" or resultfile.content_type == "image/gif" %}
												<img src="{{ resultfile.file.url }}" width="750" height="500"/>
											{% elif resultfile.content_type == "video/mp4" %}
												<video controls>
													<source src="{{ MEDIA_URL }}{{ resultfile.file }}">
												</video>
											{% else %}
												<p>Content Type: {{ resultfile.content_type }}</p>
											{% endif %}
											<p>Caption: {{ resultfile.caption }}</p>
										{% endfor %}
									{% endif %}
								</li>
							</div>
						{% endfor %}
					</div>
				</ul>
				{% if result_list.has_next %}
					<a class="infinite-more-link" href="?page={{ result_list.next_page_number }}">More</a>
				{% endif %}
			{% endif %}
		{% else %}
			<p>You do not have permission to view this page. Please login with an account that has proper permissions.</p>
		{% endif %}
	{% else %}
		<p>Please login to view this page.</p>
	{% endif %}
{% endblock %}
