{% extends "base_generic.html" %}

{% block content %}
	<h1>{{ workout.display_name }}</h1>
	
	<div class="tabContentReplacement">
		<div class="listedWorkouts">
			<div class="workoutContent">
				{% if user.is_authenticated %}
					<button class="dropdownOpenerWorkoutButtons"><i class="fas fa-ellipsis-h"></i></button>
					<div class="dropdownContainerWorkoutButtons">
						<form method='POST'>
							{% csrf_token %}
							<input type="hidden" name="workout" value= {{ workout.id }}>
							<input type="hidden" name="currentuser" value= {{ user.username }}>
							<input type="submit" class='input_submit dropdownContainerWorkoutButtons_submit' value="Add Workout to Profile" name="add_workout_to_profile">
						</form>
						{% if user.is_coach or user.is_gym_owner %}
							<form class="post_workout_form" action="{% url 'add_workout_to_athletes' user.username workout.id %}">
								{% csrf_token %}
								<input type="submit" class='input_submit dropdownContainerWorkoutButtons_submit' value="Add Workout To Athletes" name="add_workout_to_athletes">
								<input type="hidden" name="{% if workout.is_general_workout %}general_workout{% elif workout.is_strength_workout %}strength_workout{% elif workout.is_cardio_workout %}cardio_workout{% endif %}">
							</form>
						{% endif %}
					</div>
				{% endif %}
				
				<h3>Date Created: {{ workout.date_created|date:"F j, Y" }}</h3>
				<p><strong>Description:</strong> {{ workout.workout_text|linebreaks }}</p>
				<p><strong>Scaling/Comments:</strong> {{ workout.scaling_or_description_text|linebreaks }}</p>
				<p><strong>Estimated Duration:</strong> {{ estimated_duration }} minutes</p>
				<p><strong>Number of Times Completed:</strong> {{ workout.number_of_times_completed }}</p>
				
				{% if user.is_authenticated %}
					<p>Movement isn't tagged?</p>
					<form class="create_movement_form" action="{% url 'movement_create' %}">
						<input type="submit" class='input_submit left_and_right_input_submit left_submit' value="Create Movement" />
					</form>
					<button class='input_submit left_and_right_input_submit right_submit' id="UpdateWorkoutButton" onclick= {{ workout.update_movements_and_classification }} >Update Workout</button>
				{% endif %}
			</div>
		</div>
	</div>
<script>
function refreshPage() {
	window.location.reload();
}
var updateWorkoutButton = document.getElementById("UpdateWorkoutButton");
if (updateWorkoutButton) {
	updateWorkoutButton.addEventListener('click', refreshPage, false);
}
</script>
{% endblock %}
