{% extends "base_generic.html" %}

{% block extra_css %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/workout_list.css' %}">
{% endblock %}
{% block content %}
	<h1>Workout List</h1>
	{% if user.is_authenticated %}
		<div class="dropdown">
			<form method='GET'>
				<input type="text" class = "textinput" placeholder="Search Movements.."  name="q" id="myMovementInput">
				<div id="myMovementDropdown" class="dropdown-content">
					<select class= "dropdown-selection" size="13" tabindex="-1">
						{% for movement in movement_list %}
							<option>{{ movement.name }}</option>
						{% endfor %}
					</select>
				</div>
				<input type="text" class = "textinput" placeholder="Search Movements.."  name="q" id="myMovementInput2">
				<div id="myMovementDropdown2" class="dropdown-content">
					<select  class= "dropdown-selection" size="13" tabindex="-1">
						{% for movement in movement_list %}
							<option>{{ movement.name }}</option>
						{% endfor %}
					</select>
				</div>
				<input type="number" class="durationinput" placeholder="Min Duration.." name="x" id="minDurationInput">
				<input type="number" class="durationinput" placeholder="Max Duration.." name="y" id="maxDurationInput">
				<input type="text" class = "textinput" placeholder="Search Classifications.."  name="z" id="myClassificationInput">
				<div id="myClassificationDropdown" class="dropdown-content">
					<select class= "dropdown-selection" size="5" tabindex="-1">
						{% for classification in classification_list %}
							<option>{{ classification.name }}</option>
						{% endfor %}
					</select>
				</div>
				<input type="text" class = "textinput" placeholder="Search Usernames.."  name="h" id="myUsernameInput">
				<input type='submit' class='button' id='filtersubmitbutton'>
				<br /><input type="checkbox" class="checkboxinput" name="t" id="popularitycheckbox">
				<label for="popularitycheckbox">Sort By Most Popular</label>
				<input type="checkbox" class="checkboxinput" name="s" id="include_completed_checkbox">
				<label for="include_completed_checkbox">Include Workouts You Have Completed</label>
				<input type="checkbox" class="checkboxinput" name="f" id="include_user_created_checkbox">
				<label for="include_user_created_checkbox">Include Workouts Other Users Created</label>
			</form>
		</div>
		{% if workout_list %}
			<p>Number of workouts with applied filters: {{ num_workouts_filtered }}/{{ num_workouts_total }}
			<ul>
				{% for workout in workout_list %}
					<li>
						<p class="workout_display_name"><a href="{{ workout.get_absolute_url }}">{{ workout.display_name }}</a>
						<form class="post_workout_form" method='POST'>
							{% csrf_token %}
							<input type="hidden" name="workout" value= {{ workout.id }}>
							<input type="hidden" name="currentuser" value= {{ user.username }}>
							<input type="submit" value="Add Workout to Profile" name="add_workout_to_profile">
						</form>
						{% if user.is_coach or user.is_gym_owner %}
							<form class="post_workout_form" action="{% url 'add_workout_to_athletes' user.username workout.id %}">
								{% csrf_token %}
								<input type="submit" value="Add Workout To Athletes" name="add_workout_to_athletes">
							</form>
						{% endif %}
						<br />{{ workout.workout_text|linebreaks }}
						Classification: {{ workout.classification }}
						<br />Movements: {% for movement in workout.movements.all %} {{ movement }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>There are no workouts in the database with those filters.</p>
		{% endif %}
	{% else %}
		<p>Showing 10 most recent workouts added to database. To view all workouts in database please login or signup.</p>
		{% if most_recent_workouts %}
			<p>Total Number of Workouts in Database: {{ num_workouts_total }}
			<ul>
				{% for workout in most_recent_workouts %}
					<li>
						<p><a href="{{ workout.get_absolute_url }}">{{ workout.display_name }}</a>
						<br />{{ workout.workout_text|linebreaks }}
						Classification: {{ workout.classification }}
						<br />Movements: {% for movement in workout.movements.all %} {{ movement }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endif %}
{% endblock %}
{% block pagination %}
	{% if user.is_authenticated %}
		<div class="pagination">
			<span class="page-links">
				{% if workout_list.has_previous %}
					<a href="{{ request.path }}?page={{  workout_list.previous_page_number }}">previous</a>
				{% endif %}
				<span class="page-current">
					<p>Page {{  workout_list.number }} of {{  workout_list.paginator.num_pages }}.</p>
				</span>
				{% if  workout_list.has_next %}
					<a href="{{ request.path }}?page={{  workout_list.next_page_number }}">next</a>
				{% endif %}
			</span>
		</div>
	{% endif %}
{% endblock %}
{%block extra_js %}
	{% load static %}
	<script src="{% static 'js/workout_list.js' %}"></script>
{% endblock %}
