{% extends "base_generic.html" %}


{% block content %}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

.textinput {
  border-box: box-sizing;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.textinput:focus {outline: 3px solid #ddd;}

.durationinput {
  border-box: box-sizing;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 0px 12px 10px;
  border: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  width: 125px;
}

.durationinput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  z-index: 1;
}

#myMovementDropdown {
  left: 60px;
}

#myMovementDropdown2 {
  left: 326px;
}

#myClassificationDropdown {
  right: 331px;
}

#filtersubmitbutton {
  display: inline-block;
}

.dropdown-content option {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown option:hover {background-color: #ddd;}

.post_workout_form {
  display: inline;
}

.workout_display_name {
  display: inline;
}

.show {display: block;}
</style>
</head>
	<h1>Workout List</h1>
	{% if user.is_authenticated %}
		<div class="dropdown">
			<form method='GET'>
				<input type="text" class = "textinput" placeholder="Search Movements.."  name="q" id="myMovementInput">
				<div id="myMovementDropdown" class="dropdown-content">
					<select class= "dropdown-selection" size="13" tabindex="-1">
						{% for movement in movement_list %}
							<option>{{ movement.name }}</option>
						{% endfor %}
					</select>
				</div>
				<input type="text" class = "textinput" placeholder="Search Movements.."  name="q" id="myMovementInput2">
				<div id="myMovementDropdown2" class="dropdown-content">
					<select  class= "dropdown-selection" size="13" tabindex="-1">
						{% for movement in movement_list %}
							<option>{{ movement.name }}</option>
						{% endfor %}
					</select>
				</div>
				<input type="number" class="durationinput" placeholder="Min Duration.." name="x" id="minDurationInput">
				<input type="number" class="durationinput" placeholder="Max Duration.." name="y" id="maxDurationInput">
				<input type="text" class = "textinput" placeholder="Search Classifications.."  name="z" id="myClassificationInput">
				<div id="myClassificationDropdown" class="dropdown-content">
					<select class= "dropdown-selection" size="5" tabindex="-1">
						{% for classification in classification_list %}
							<option>{{ classification.name }}</option>
						{% endfor %}
					</select>
				</div>
				<input type="text" class = "textinput" placeholder="Search Usernames.."  name="h" id="myUsernameInput">
				<input type='submit' class='button' id='filtersubmitbutton'>
				<br /><input type="checkbox" class="checkboxinput" name="t" id="popularitycheckbox">
				<label for="popularitycheckbox">Sort By Most Popular</label>
				<input type="checkbox" class="checkboxinput" name="s" id="include_completed_checkbox">
				<label for="include_completed_checkbox">Include Workouts You Have Completed</label>
				<input type="checkbox" class="checkboxinput" name="f" id="include_user_created_checkbox">
				<label for="include_user_created_checkbox">Include Workouts Other Users Created</label>
			</form>
		</div>
		{% if workout_list %}
			<p>Number of workouts with applied filters: {{ num_workouts_filtered }}/{{ num_workouts_total }}
			<ul>
				{% for workout in workout_list %}
					<li>
						<p class="workout_display_name"><a href="{{ workout.get_absolute_url }}">{{ workout.display_name }}</a>
						<form class="post_workout_form" method='POST'>
							{% csrf_token %}
							<input type="hidden" name="workout" value= {{ workout.id }}>
							<input type="hidden" name="currentuser" value= {{ user.username }}>
							<input type="submit" value="Add Workout to Profile" name="add_workout_to_profile">
						</form>
						<br />{{ workout.workout_text|linebreaks }}
						Classification: {{ workout.classification }}
						<br />Movements: {% for movement in workout.movements.all %} {{ movement }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>There are no workouts in the database with those filters.</p>
		{% endif %}
	{% else %}
		<p>Showing 10 most recent workouts added to database. To view all workouts in database please login or signup.</p>
		{% if most_recent_workouts %}
			<p>Total Number of Workouts in Database: {{ num_workouts_total }}
			<ul>
				{% for workout in most_recent_workouts %}
					<li>
						<p><a href="{{ workout.get_absolute_url }}">{{ workout.display_name }}</a>
						<br />{{ workout.workout_text|linebreaks }}
						Classification: {{ workout.classification }}
						<br />Movements: {% for movement in workout.movements.all %} {{ movement }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endif %}
<script>
function Dropdown() {
  //this event is only on the textinput boxes so I can't close dropdowns when the submit button is focused.
  //using onblur makes the setDropdown Selection function not work because the moment you click out of the text input the dropdown disappears. making it as if you didnt
  // click a selection in the dropdown.
  // add an onfocus for the submit button to close all dropdowns is simplest way to avoid dropdowns staying up when tabbing through elements.
  // can't add onfocus for the sidebar nav so shift tabbing back to nav from first input box leaves dropdown up currently.
  var dropdowns = document.getElementsByClassName("dropdown-content");
  var i;
  for (i = 0; i < dropdowns.length; i++) {
    if (dropdowns[i] != this.nextSibling.nextSibling) {
	  if (dropdowns[i].classList.contains("show")) {
	    dropdowns[i].classList.remove("show");
	  }
	}
  }
  this.nextSibling.nextSibling.classList.add("show");
}

function DropdownExit() {
  var dropdowns = document.getElementsByClassName("dropdown-content");
  var i;
  for (i = 0; i < dropdowns.length; i++) {
	if (dropdowns[i].classList.contains("show")) {
	  dropdowns[i].classList.remove("show");
	}
  }
}

function Filter() {
  var input, filter, ul, li, option, i;
  input = this;
  filter = this.value.toUpperCase();
  div = input.nextSibling.nextSibling;
  option = div.getElementsByTagName("option");
  for (i = 0; i < option.length; i++) {
    txtValue = option[i].textContent || option[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      option[i].style.display = "";
    } else {
      option[i].style.display = "none";
    }
  }
}

function setDropdownSelection() {
  var selectedOption = this.options[this.selectedIndex];
  var textValue = selectedOption.text;
  var textBox = this.parentNode.previousSibling.previousSibling;
  textBox.value = textValue;
}

var textinputs = document.getElementsByClassName("textinput");
var i;
if (textinputs) {
  for (i = 0; i < textinputs.length; i++) {
    textinputs[i].addEventListener("focus", Dropdown, false);
	textinputs[i].addEventListener("keyup", Filter, false);
  }
}
var durationinputs = document.getElementsByClassName("durationinput");
var i;
if (durationinputs) {
  for (i = 0; i < durationinputs.length; i++) {
    durationinputs[i].addEventListener("focus", DropdownExit, false);
  }
}

var dropdownselects = document.getElementsByClassName("dropdown-selection");
if (dropdownselects) {
  for (i = 0; i < dropdownselects.length; i++) {
    dropdownselects[i].addEventListener("change", setDropdownSelection, false);
  }
}

var filterSubmitButton = document.getElementById("filtersubmitbutton");
if (filterSubmitButton) {
  filterSubmitButton.addEventListener('focus', DropdownExit, false);
}

window.onclick = function(event) {
  //use console.log(event) and possibly event.nextSibling etc. to see what element is being triggered by clicking on things.
  var dropdowns = document.getElementsByClassName("dropdown-content");
  var i;
  if (!event.target.matches('.textinput')) {
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }   
}
</script>
{% endblock %}
{% block pagination %}
	{% if user.is_authenticated %}
		<div class="pagination">
			<span class="page-links">
				{% if workout_list.has_previous %}
					<a href="{{ request.path }}?page={{  workout_list.previous_page_number }}">previous</a>
				{% endif %}
				<span class="page-current">
					<p>Page {{  workout_list.number }} of {{  workout_list.paginator.num_pages }}.</p>
				</span>
				{% if  workout_list.has_next %}
					<a href="{{ request.path }}?page={{  workout_list.next_page_number }}">next</a>
				{% endif %}
			</span>
		</div>
	{% endif %}
{% endblock %}
