{% extends "base_generic.html" %}

{% block content %}
	<h1>{{ workout.display_name }}</h1>
	{% if user.is_authenticated %}
		<form method='POST'>
			{% csrf_token %}
			<input type="hidden" name="workout" value= {{ workout.id }}>
			<input type="hidden" name="currentuser" value= {{ user.username }}>
			<input type="submit" value="Add Workout to Profile" name="add_workout_to_profile">
		</form>
	{% endif %}
	
	<h3>Classification: {{ workout.classification }}</h3>
	<h4>Date Created: {{ workout.date_created|date:"F j, Y" }}</h4>
	<p><strong>Description:</strong> {{ workout.workout_text|linebreaks }}</p>
	<p><strong>Scaling:</strong> {{ workout.scaling_or_description_text|linebreaks }}</p>
	<p><strong>Movements:</strong> {% for movement in workout.movements.all %} {{movement}}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
	<p><strong>Estimated Duration:</strong> {{ estimated_duration }} minutes</p>
	<p><strong>Number of Times Completed:</strong> {{ workout.number_of_times_completed }}</p>
	
	{% if user.is_authenticated %}
		<p>Movement isn't tagged?</p>
		<form action="{% url 'movement_create' %}">
			<input type="submit" value="Create Movement" />
		</form>
		<button id="UpdateWorkoutButton" onclick= {{ workout.update_movements_and_classification }} >Update Workout</button>
	{% endif %}
<script>
function refreshPage() {
	window.location.reload();
}
var updateWorkoutButton = document.getElementById("UpdateWorkoutButton");
if (updateWorkoutButton) {
	updateWorkoutButton.addEventListener('click', refreshPage, false);
}
</script>
{% endblock %}
