{% extends "base_generic.html" %}

{% block content %}
	<h1>Login</h1>
	
	<div class="tabContentReplacement">
		<div class="listedWorkouts">
			<div class="workoutContent">
				{% if form.errors %}
					<p>Your username and password didn't match. Please try again.</p>
				{% endif %}

				{% if next %}
					{% if user.is_authenticated %}
						<p>Your account doesn't have access to this page. To proceed,
						please login with an account that has access.</p>
					{% else %}
						<p>Please login to see this page.</p>
					{% endif %}
				{% endif %}

				<form method="post" class="login_form" action="{% url 'login' %}">
					{% csrf_token %}
						<table>
							<tbody>
								<tr>
									<th><p>{{ form.username.label_tag }}</p></th>
									<td>{{ form.username }}</td>
								</tr>

								<tr>
									<th>{{ form.password.label_tag }}</th>
									<td class="login_password_td">{{ form.password }}</td>
									<td><input type="submit" class="login_button" value="Login" /></td>
								</tr>
							</tbody>
						</table>
				</form>

				{# Assumes you setup the password_reset view in your URL conf #}
				<form action="{% url 'password_reset' %}">
					<input type="submit" class="input_submit" value="Lost password?" />
				</form>
			</div>
		</div>
	</div>
{% endblock %}
