{% extends "base_generic.html" %}

{% block content %}
	<h1>Reset Password</h1>
	
	<div class="tabContentReplacement">
		<div class="listedWorkouts">
			<div class="workoutContent">
				<p>Enter your email address below:</p>
				<form action="" method="post">
					{% csrf_token %}
					{% if form.email.errors %}
						{{ form.email.errors }}
					{% endif %}
					<p>{{ form.email }}</p>
					<input type="submit" class="input_submit" value="Reset password">
				</form>
			</div>
		</div>
	</div>
{% endblock %}
