<!DOCTYPE html>
<html lang="en">
<head>
	{% block title %}<title>Metcon Database</title>{% endblock %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2">
			{% block sidebar %}
				<ul class="sidebar-nav">
					{% if user.is_authenticated %}
						<li><a href="{% url 'profile' user.username %}">Home</a></li>
						<li><a href="{% url 'logout' %}">Logout</a></li>
					{% else %}
						<li><a href="{% url 'login' %}">Login</a></li>
					{% endif %}
					</br >
					<li><a href="{% url 'workouts' %}">All Workouts</a></li>
					<li><a href="{% url 'movements' %}">All Movements</a></li>
					<li><a href="{% url 'workout_create' %}">Create Workout</a></li>
					<li><a href="{% url 'movement_create' %}">Create Movement</a></li>

				</ul>
			{% endblock %}
			</div>
			<div class="col-sm-10 ">
				{% block content %}{% endblock %}
				
				{% block pagination %}
					{% if is_paginated %}
						<div class="pagination">
							<span class="page-links">
								{% if page_obj.has_previous %}
									<a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
								{% endif %}
								<span class="page-current">
									<p>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</p>
								</span>
								{% if page_obj.has_next %}
									<a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
								{% endif %}
							</span>
						</div>
					{% endif %}
				{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>
